{% extends 'app/base.html' %}
{% block title %}Login{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="g" style="background-color: #FFFFE8;">
<div class="container px-4 px-lg-5">
    <div class="gg">
        <h1>Login</h1>
    </div>
</div>
    </div>
<style>
    body {
        background-color: #FFFFE8;
    }
</style>
<div class="container">
    {% if messages %}
     {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" style="text-align: center">
          {{ message }}
        </div>
     {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
          <form method="POST">
              {% csrf_token %}
              <fieldset class="form-group">
                  {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-outline-dark" type="submit">Login</button>
              </div>
              <br>
              <small class="text-muted ml-2">
              <a href="{% url 'password_reset' %}">Forgot Password?</a>
              </small>
          </form>
          <div class="border-top pt-3">
            <small class="text-muted">
              Don't Have An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </small>
          </div>
        </div>
    </div>
  </div>
{% endblock %}