{% extends 'app/base.html' %}
{% block title %}Reset Confirm{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="g" style="background-color: #FFFFE8;">
<div class="container px-4 px-lg-5">
    <div class="gg">
        <h1>Reset Password</h1>
    </div>
</div>
    </div>
<style>
    body {
        background-color: #FFFFE8;
    }
</style>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
          <div class="border-top pt-3">
              <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                  <button class="btn btn-outline-dark" type="submit">Reset</button>
                </div>
              </form>
          </div>
        </div>
    </div>
  </div>
{% endblock %}