{% extends 'app/base.html' %}
{% block title %}Mail Sent{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="g" style="background-color: #FFFFE8;">
<div class="container px-4 px-lg-5">
    <div class="gg">
        <h1>Check Email</h1>
    </div>
</div>
    </div>
<style>
    body {
        background-color: #FFFFE8;
    }
</style>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
        <div class="alert alert-info" style="text-align: center;">
            An email has been sent with instructions to reset your password.
        </div>
        </div>
    </div>
  </div>
{% endblock %}