{% extends 'app/base.html' %}
{% block title %}Password Reset{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="g" style="background-color: #FFFFE8;">
<div class="container px-4 px-lg-5">
    <div class="gg">
        <h1>Password Changed!</h1>
    </div>
</div>
    </div>
<style>
    body {
        background-color: #FFFFE8;
    }
</style>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content" style='text-align: center;'>
          <div class="alert alert-info">
              Your Password has been changed!
          </div>
          <a class="btn btn-outline-dark" href="{% url 'login' %}">Sign In</a>
        </div>
    </div>
  </div>
<div style="height: 50px;"></div>
{% endblock %}