{% extends 'app/base.html' %}
{% block title %}404{% endblock %}
{% block content %}
<div class="g" style="background-color: #FFFFE8;">
<div class="container px-4 px-lg-5">
    <div class="gg">
        <h1>This Page Doesn't exist!</h1>
    </div>
</div>
</div>
<section>
<div class="container px-4 px-lg-5  col-sm-12 back">
    <div class="container px-4 px-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto content">
          <img src="https://miro.medium.com/v2/resize:fit:800/1*hFwwQAW45673VGKrMPE2qQ.png">
        </div>
    </div>
  </div>
</section>
{% endblock %}