{% extends 'app/base.html' %}
{% block title %}Site{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<section class="colored-section donthave col-lg-12">
</section>
<section class="forming">
	<div class="container">
		<div class="col-lg-8 col-md-10 mx-auto content">
			<form method="POST" enctype='multipart/form-data'>
              {% csrf_token %}
              <fieldset class="form-group">
                  {{ form|crispy }}
              </fieldset>
              <div class="form-group">
                  <button class="btn btn-outline-light" type="submit">Generate</button>
              </div>
          </form>
			{% if text %}
			<div class="card result">
                <div class="card-header">
                    Result
            </div>
            <div class="card-body text-bg-light">
			    <p class="card-text" id="cr">{{ text.id }}</p>
			    <a href="{% url 'download_file' text.id %}" class="btn btn-outline-dark" id="eye">Download</a>
            </div>
			</div>
			{% endif %}

		</div>
	</div>
</section>
{% endblock %}